.head{
     
    font-size: xx-large;
    text-align: center;
    color: rgb(55, 66, 61);
   
    

}
 
body{


    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
font-family: 'Ubuntu', sans-serif;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /* background-image: url("https://media.istockphoto.com/photos/brown-wooden-textue-picture-id538335868?k=6&m=538335868&s=170667a&w=0&h=7veMqohswn9KVjinkgHCeeeySv61jQuFAgJMEkybFrg=");

     
     
    background-position:center;
     
    color:white;
    min-height: 100vh; */

}
.body{
    background-color: rgba(61, 162, 116, 0.6);
    text-align:center;
    justify-content: center;
    margin:auto;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-size:1rem;

    margin-top:10%;
    margin-right:10%;
    margin-left:10%;
    line-height: 1rem;
    padding:30px;
}
 
input{
    background:transparent;
    border:none;
    border-bottom: 2px solid;
    font-size:1.5rem;
    outline:none;

}
.add{
     margin-left:40%;
}
.list{
    display: flex;
    margin-left:10%;
    margin-right:10%;
}
.checkbox{
    margin:auto;
    margin-left:5%;
}
.p{
    margin:auto;
    margin-left:2%;
}
.add{
    margin:auto;
    margin-top:10%;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  .default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: #dadada;
  }

.for_redirect{
    position: fixed;
    top:50%;
    transform: rotate(-90deg);
	transform-origin: left top 0;

}